body {
    font-family: Arial, sans-serif;
    background-color: #16b9eb;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150vh;
    margin: 0;
}

.todo-container {
    background: rgb(216, 8, 161);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(48, 1, 1, 0.1);
    width: 350px;
}

h1 {
    text-align: center;
    color: #333;
}

.input-container {
    display: flex;
    margin-bottom: 25px;
}

#new-task {
    flex: 1;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px 0 0 5px;
}

#add-task-button {
    padding: 10px;
    background-color: #28a745;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 0 6px 6px 0;
}

#add-task-button:hover {
    background-color: #218838;
}

#task-list {
    list-style: none;
    padding: 0;
}

#task-list li {
    background: #f9f9f9;
    padding: 10px;
    margin-bottom: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
}