body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

header {
    background: #333;
    color: #fff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #77B5FE 3px solid;
}

header h1 {
    text-align: center;
    text-transform: uppercase;
    margin: 0;
    height: 200;
}

.intro {
    padding: 40px;
    text-align: center;
 
}

.intro img {
    width:400px;
    height:500%;
    border-radius:100%;
}

.life, .achievements {
    background: #fff;
    padding: 15px;
    margin: 20px 0;
}

footer {
    text-align: center;
    padding: 20px;
    background: #333;
    color: #fff;
}

footer a {
    color: #77B5FE;
    text-decoration: none;
}